{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/bookstyle.css' %}">

    <title>Finding books!</title>
</head>
<body>
    <div class="wrapper">
        <div>
            <h1>Finding books!</h1>
        </div>

        <div class="search-container">
            <input
                type="text"
                placeholder="Type book name here!"
                maxlength="100"
                id="search-field"
                class="form-control"
            >
            <br>
            <input
                type="submit"
                value="Search"
                id="search-button"
                class="btn btn-outline-light"
            >
        </div>

        <div class="content-container">
            <table class="table-content">
                <thead>
                    <tr>
                        <td> No. </td>
                        <td> Book Cover </td>
                        <td> Title </td>
                        <td> Authors </td>
                    </tr>
                </thead>

                <tbody>

                </tbody>
            </table>
        </div>

    </div>

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>
    <script src="{% static 'js/bookjs.js' %}"></script>

</body>
</html>