body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Raleway", sans-serif;
    background-color: #f8dbbf;
}

.wrapper {
    margin: 24px auto;
    text-align: center;
}

.search-container {
    text-align: center;
}

#search-field {
    width: 80vw;
}

.content-container {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.table-content {

}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
    font-weight: bold;
}

th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead {
    background-color: #fe7d6a;
}

tr:hover {
  background-color:#f2b195;
}
